<div id="personal-data-container">
    <div id="camera-container">
        <img alt="image d'une caméra" src="{{ asset('./images/camera.png') }}">
    </div>
    <div id="bell-container">
        <img alt="image d'une cloche" src="{{ asset('./images/bell.png') }}">
    </div>
    <div id="profile-container">
        <img alt="image d'une photo de profil">
    </div>
</div>