<div id="searching">
    <div id="search-bar-container" >
        <input id="search-bar" placeholder="rechercher">
        <div id="search-icon-container">
            <img alt="icone de recherche" src="{{ asset('./images/magnifier.png') }}">
        </div>
        <div id="microphone-container">
            <img alt="image d'un micro" src="{{ asset('./images/microphone.png') }}">
        </div>
    </div>
</div>
